<% @photos.each do |photo| %>
  <div class="col-md-4">
    <%= link_to open_path(id: photo.id), remote: true do %>
      <%= image_tag photo.url, class: "img-responsive img-thumbnail" %>
    <% end %>
  </div>
<% end %>
