<div class="page-header">
  <h1>Forecasts</h1>
</div>

<div class="well">
  <%= form_tag forecast_path, remote: true, id: "search-form" do %>
    <div class="form-group">
      <%= label_tag :location %>
      <%= text_field_tag :location, "", class: "form-control"%>
    </div>
    <%= submit_tag "Search", class: "btn btn-primary btn-block" %>

  <% end %>
</div>



<div id="forecast"></div>

<div id="spin" class="text-center">
  <i class='fa fa-circle-o-notch fa-spin fa-5x'></i>
</div>
